<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Campanha de Prospecção</h1>
    <div class="card mb-4">
      <div class="card-body">
        <form id="sendCampaignDataForm" name="sendCampaignDataForm" method="POST" action="api/enviar-campanha">
          <div class="mb-3">
            <label for="tipoEmpresa" class="form-label">Tipo de Empresa:</label>
            <input type="text" class="form-control" placeholder="ex: lojas de moda fitness" id="tipoEmpresa" name="tipoEmpresa" required />
          </div>

          <div class="mb-3">
            <label for="estado" class="form-label">Estado (sigla):</label>
            <input type="text" class="form-control" placeholder="ex: SC" id="estado" name="estado" required />
          </div>

          <div class="mb-3">
            <label for="cidade" class="form-label">Cidade:</label>
            <input type="text" class="form-control" placeholder="Digite o nome da cidade corretamente, incluindo acentuação, etc." id="cidade" name="cidade" required />
          </div>

          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
  <div id="message" style="margin-top: 10px; margin-left: 35px;"></div>
</main>


